@import "tailwindcss";
@import "tw-animate-css";

.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-size: 9vw;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background:rgb(255, 255, 255);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background:rgb(31, 61, 77);
}
